<body style = "background-color: #f0f0f0;">
<div class="container d-flex justify-content-center align-items-center my-4">
    <div class="">
        <img src="https://th.bing.com/th/id/OIG1.kapGgpRBatkn4AEvTiwk?pid=ImgGn" class="card-img-top" alt="..." style="width: 50%; height: auto;">
    <h5>Canlı görüntü buraya gelecek<span class="badge text-bg-secondary"></span></h5>
    <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
    </div>
    </div>
    </div>
</body>
